@font-face {
  font-family: "SkateSemiBold";
  src: url(/assets/font/skate-5.ttf);
}

@font-face {
  font-family: "RobotoMono";
  src: url(/assets/font/RobotoMono.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background: url("/assets/images/bg.png") no-repeat center center;
  background-color: #000;
  height: 100vh;
  width: 100%;
  color: #ccc;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  padding-top: 15vh;
  transform-origin: top;
  animation: apper 1.5s ease-in-out forwards;
}

@keyframes apper {
  from {
    opacity: 0;
    transform: scale(0.4);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

section {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 10vw 15vh;
  padding: 2vh 4vh;

  animation: apper 2s ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes apper {
  from {
    opacity: 0;
    transform: scale(0.4);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 1.7rem;
  font-family: "RobotoMono", sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

/* ________________________ naviagtion bar ________________________ */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.nav-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-right: 5vw;
  width: fit-content;
}

nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}

nav {
  gap: 2rem;
}

nav a {
  position: relative;
}

nav a.active {
  color: #ffd273;
  font-weight: bold;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 0;
  height: 0;
  border: 2px solid transparent;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}

nav a:hover::after {
  width: 6px;
  height: 6px;
  border-color: #ffd273;
}

nav > ul > li > a {
  color: #ccc;
  font-size: 1.1rem;
}

nav > ul > li > a:hover {
  color: #ffd273;
}

.logo {
  font-family: "SkateSemiBold";
  font-size: 1.5rem;
  margin-left: 5vw;
}

.logo::after {
  content: ".";
  color: #ffd273;
  font-size: 2rem;
}

/* ___________________________ hamburger menu __________________________ */
#menu-toggle {
  display: none;
}

.menu-icon,
.close-icon {
  display: none;
  cursor: pointer;
}

.menu-icon i,
.close-icon i {
  vertical-align: middle;
  color: #ccc;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu-icon i:hover,
.close-icon i:hover {
  color: #ffd273;
  animation: fa-bounce 1s 1 ease-in-out;
}

/* ________________________ home content ________________________ */

.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 2rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  width: 77%;
}

.home-text {
  line-height: 1.5rem;
  font-size: 1.1rem;
  width: 100%;
}

#my-name {
  font-size: 1.4rem;
}

#my-name-after {
  color: #ffd273;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

#my-name-after::after {
  content: "\a\a";
  white-space: pre;
}

#my-image {
  width: 50vw;
  height: 50vw;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #ccc;
  margin: 20px 0;
}

.info-sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 3rem 2rem;
}

#contact-me,
#download-cv {
  width: 6.5rem;
  text-align: center;
  border-radius: 1.25rem;
  padding: 0.6rem;
  font-size: 0.9rem;
  font-weight: 550;
  cursor: pointer;
  border: 2px solid #ffd273;
  transition: all 0.5s ease-in-out;
}

#contact-me,
#download-cv:hover {
  background-color: transparent;
  color: #ccc;
}

#contact-me:hover,
#download-cv:hover {
  box-shadow: 0 0 8px #ffd273;
  transform: scale(1.1);
}

#contact-me:hover,
#download-cv {
  background-color: #ffd273;
  color: #121212;
  box-shadow: none;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-left: 1rem;
}

.social-icons i {
  color: #ccc;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 2rem;
}

.social-icons i:hover {
  color: #ffd273;
  transform: scale(1.15);
}

/* ________________________ about content ________________________ */
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 2.2rem;
}

.about-content {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin: 1.9rem 0;
  width: 74%;
}

#about-image {
  width: 50vw;
  max-width: 250px;
  border-radius: 0.5rem;
  transform: scaleX(-1);
}

/* ________________________ projects content ________________________ */
.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1rem 0 3.5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 320px;
  height: 188px;
  border: 3px solid #333;
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px #ffd273;
  border-color: transparent;
  cursor: pointer;
  animation: remove-overflow 2s forwards;
}

.project-card:not(:hover) {
  animation: show-overflow 2s forwards;
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

.project-card img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 260px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.project-card:hover .project-details {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.project-card:not(:hover) .project-details {
  animation: remove-data 1s forwards;
}

@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

.project-title {
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  margin: 0;
}

.project-description {
  font-size: 0.9rem;
  color: #ccc;
  text-align: center;
  margin: 0;
}

.project-label-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.project-label-container img {
  width: 30px;
  height: 30px;
  border: 2px solid #ffd273;
  border-radius: 0.5rem;
  background-color: #222;
  padding: 0.2rem;
  transition: all 0.5s ease-in-out;
}

.project-label-container img:hover {
  background-color: transparent;
  box-shadow: 0 0 8px #ffd273;
}

.project-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-align: center;
  border-radius: 1.25rem;
  padding: 0.6rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 550;
  cursor: pointer;
  border: 2px solid #ffd273;
  background-color: #222;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.project-btn:hover {
  background-color: transparent;
  box-shadow: 0 0 8px #ffd273;
  color: #ccc;
}

/* _______________________ skill content ________________________ */
.title-text {
  font-size: 1rem;
  text-align: center;
  color: #ddd;
  margin: 0;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin: 2.5rem 0;
}

.skill-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  width: 240px;
  height: fit-content;
  border: 3px solid #333;
  border-radius: 1rem;
  padding: 0.5rem;
  transition: all 0.4s ease-in-out;
}

.skills-image {
  width: 40px;
  height: 40px;
  background-color: #333;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.4s ease-in-out;
}

.skill-card:hover {
  background-color: #222;
  transform: translateY(-5px);
}

.skill-card:hover .skills-image {
  background-color: #000;
}

.skill-card p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
  margin: 0;
  font-size: 0.85rem;
  color: #aaa;
}

.skill-card span {
  font-size: 1rem;
  font-weight: 550;
  color: #ddd;
}

/* ______________________ experience content ________________________ */
.timeline {
  position: relative;
  max-width: 1000px;
  margin: 70px auto;
}

.container {
  display: flex;
  align-items: center;
  padding: 30px 50px;
  position: relative;
  width: calc(50% - 100px);
}

.text-box {
  padding: 10px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  color: #333;
  width: 265px;
  transition: all 0.5s ease-in-out;
}

.text-box:hover {
  transform: translateY(-5px);
  filter: invert(1) drop-shadow(0 0 5px #ffd273);
}

.text-box:hover + .left-arrow,
.text-box:hover + .right-arrow {
  filter: drop-shadow(0 0 5px #ffd273);
}

.text-box:hover + .left-arrow {
  border-left-color: #121212;
}

.text-box:hover + .right-arrow {
  border-right-color: #121212;
}

.left-container {
  justify-content: flex-end;
  left: 0;
}

.right-container {
  justify-content: flex-start;
  left: 50%;
}

.container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  right: -20px;
  top: 50px;
  z-index: 10;
}

.right-container img {
  left: -20px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 10px;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 55px;
  width: 0;
  height: 0;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  transition: all 0.5s ease-in-out;
}

.left-arrow {
  right: 32px;
  border-left: 15px solid #fff;
}

.right-arrow {
  left: 32px;
  border-right: 15px solid #fff;
}

/* ______________________ contact content ________________________ */

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2.5rem 0;
}

.contact-container p {
  text-align: center;
  font-size: 1.05rem;
  width: 350px;
  text-align: left;
  color: #999;
}

.contact-title {
  font-size: 1.5rem;
  color: #ccc;
}

.contact-title::after {
  content: "\a\a";
  white-space: pre;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.contact-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  font-size: 28px;
}

.contact-icons i {
  cursor: pointer;
  color: #ccc;
  transition: all 0.5s ease-in-out;
}

.contact-icons i:hover {
  color: #ffd273;
  transform: scale(1.15);
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff3da;
  resize: none;
  font-family: "Roboto", sans-serif;
  border: 2px solid #ccc;
  font-size: 0.9rem;
  height: 25px;
  transition: all 0.5s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #ffd273;
  box-shadow: 0 0 8px #ffd273;
  background-color: transparent;
  color: #ccc;
}

#button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffd273;
  padding: 8px 12px;
  border-radius: 10px;
  width: fit-content;
  border: 2px solid transparent;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.send-icon {
  color: #000;
  margin-left: 8px;
  transition: all 0.5s ease-in-out;
}

#button:hover {
  background-color: transparent;
  color: #fff;
  box-shadow: 0 0 8px #ffd273;
  border: 2px solid #ffd273;
}

#button:hover .send-icon {
  color: #ffd273;
  animation: fa-bounce 1s ease-in-out 1;
}

/* ________________________ footer ________________________ */
footer {
  text-align: center;
  color: #aaa;
  font-size: 1rem;
  padding: 0.6rem;
}

/* ///////////////////////////////// */
.txt-input {
  position: relative;
  flex-grow: 0.5;
  width: 100%;
}

.txt-input #name,
.txt-input #email,
.txt-input textarea {
  display: block;
  width: 100%;
  height: 35px;
  padding: 0 15px;
  background: transparent;
  color: #444;
  border: 2px solid #aaa;
  border-radius: 6px;
  outline-color: #ffa500;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  transition: border-color 0.3s ease-in-out;
}

.txt-input textarea {
  height: auto;
  height: 100px;
  resize: none;
  padding: 10px 15px;
}

.txt-input label {
  color: #444;
  font-size: 0.85rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 9px;
  padding: 0 5px;
  margin: 0;
  height: 16px;
  transition: all 0.3s ease-in-out;
}

.txt-input textarea + label {
  top: 10px;
}

.txt-input input:focus + label,
.txt-input input:not(:placeholder-shown) + label,
.txt-input textarea:focus + label,
.txt-input textarea:not(:placeholder-shown) + label {
  top: -6px;
  font-size: 0.87rem;
  color: #ffd273;
  background: #000;
  border-radius: 2px;
}
