.theme-toggle {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 22px;

  border-radius: 20px;
}

.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: url("/assets/images/dark-sky.jpg") no-repeat center/cover; */
  transition: 0.4s;
  border-radius: 34px;
  border: 2px solid #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  /* background: url("/assets/images/morning-sky.jpg") no-repeat center/cover; */
  background-color: #ffd273;
  border-color: #333;
}

input:checked + .slider:before {
  transform: translateX(13px);
  background-color: #333;
}

/* Light Mode Styles */
body.light-mode {
  background-color: #fff;
  background-image: none;
  color: #000;
}

body.light-mode section {
  border-color: #333;
}

body.light-mode header {
  background-color: transparent;
}

body.light-mode a {
  color: #000;
}

body.light-mode a:hover {
  color: #ffae00;
}

body.light-mode a:hover::after {
  border-color: #ffb618;
}

body.light-mode .nav-links li:hover::before {
  border-left-color: #ffb618;
}

body.light-mode .project-card {
  border: 3px solid #ccc;
}

body.light-mode .text-box {
  background: #f9f9f9;
}

body.light-mode i {
  color: #000;
}

body.light-mode i:hover {
  color: #ffd273;
}

body.light-mode #button:hover {
  color: #000;
}

body.light-mode .timeline::after {
  background: #333;
}

body.light-mode .text-box {
  background: #000;
  color: #ccc;
}

body.light-mode .text-box:hover {
  filter: drop-shadow(0 0 10px #ffc343);
  background-color: #f9f9f9;
  color: #121212;
}

body.light-mode .text-box:hover + .left-arrow {
  border-left-color: #eee;
}

body.light-mode .text-box:hover + .right-arrow {
  border-right-color: #eee;
}

body.light-mode .container img {
  border: 2px solid #444;
}

body.light-mode .contact-title {
  color: #222;
}

body.light-mode .contact-title + span {
  color: #555;
}

body.light-mode #contact-me,
body.light-mode #download-cv:hover {
  color: #222;
}

body.light-mode .title-text {
  color: #444;
}

body.light-mode .skill-card:hover {
  background-color: #ddd;
}

body.light-mode .skill-card span {
  color: #555;
}

body.light-mode .skill-card p {
  color: #555;
}
